#### 라이브러리

In [9]:
import pandas as pd
import numpy as np
import re
from ast import literal_eval

#### 데이터 불러오기

In [30]:
movies_data = pd.read_csv('./crawling/movie_data2.csv')
movies_data.columns = ['movie_id', 'title', 'star', 'movie_rating', 'genre', 'director', 'actors', 'summary']

print(movies_data.shape)
movies_data.head(5)

(18761, 8)

,movie_id,title,star,movie_rating,genre,director,actors,summary
0,10994,19번째 남자,7.70,청소년 관람불가,"['코미디', '드라마', '멜로/로맨스']",론 쉘톤,"['케빈 코스트너', '수잔 서랜든', '팀 로빈스']",마이너 리그팀 중의 하나로 캐롤라이나 리그에서 허덕이던 더럼 불즈팀이 오랫동안 기대...
1,10727,48시간 2,7.68,청소년 관람불가,"['범죄', '액션', '드라마', '코미디', '스릴러']",월터 힐,"['에디 머피', '닉 놀테']",형사 잭(Jack Cates: 닉 놀테 분)은 범죄단 두목 아이스맨을 추적하다 번번...
2,10630,7월 4일생,9.06,15세 관람가,"['전쟁', '드라마']",올리버 스톤,['톰 크루즈'],건실한 청년 론(Ron Kovic: 톰 크루즈 분)은 고교시절 레슬링 선수로 땀 흘...
3,10926,90 벌레먹은 장미,0.00,청소년 관람불가,['드라마'],노세한,"['남성훈', '김희아']",대학시절 남자에게 배신당한 정희는 30세가 되도록 남자들의 사랑을 불신하며 독신으로...
4,14478,9일간의 정사,7.00,NR,['이탈리아'],브루노 마테이,[],미국인 피아니스트 제시카는 콘테스트에 참가하기 위해 베니스에 온다. 그러나 도착해서...

#### 데이터 전처리

In [11]:
movies_data['director'] = movies_data['director'].str.replace("[^\w]", "")
movies_data['director'] = movies_data['director'].replace(np.nan, " ")

movies_data['actors'] = movies_data['actors'].str.replace("[\[ | \] | \' | \']", "")
movies_data['actors'] = movies_data['actors'].str.replace(",", " ")
movies_data['actors'] = movies_data['actors'].replace(np.nan, " ")


movies_data['genre'] = movies_data['genre'].str.replace("[\[ | \] | \' | \']", "")
movies_data['genre'] = movies_data['genre'].str.replace(",", " ")
movies_data['genre'] = movies_data['genre'].replace(np.nan, " ")

movies_data['movie_rating'] = movies_data['movie_rating'].replace('G', '전체 관람가').replace('PG', '12세 관람가').replace('PG-13', '12세 관람가').replace('R', '15세 관람가').replace('NR', " ")
movies_data['movie_rating'] = movies_data['movie_rating'].replace(np.nan, " ")

movies_data['title'] = movies_data['title'].str.replace('상영중', " ")

movies_data['summary'] = movies_data['summary'].str.replace('[^\w | \s]', "")
movies_data['summary'] = movies_data['summary'].replace(np.nan, " ")

C:\Users\ezspl\AppData\Local\Temp\ipykernel_35608\2587730355.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_data['director'] = movies_data['director'].str.replace("[^\w]", "")
C:\Users\ezspl\AppData\Local\Temp\ipykernel_35608\2587730355.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_data['actors'] = movies_data['actors'].str.replace("[\[ | \] | \' | \']", "")
C:\Users\ezspl\AppData\Local\Temp\ipykernel_35608\2587730355.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_data['genre'] = movies_data['genre'].str.replace("[\[ | \] | \' | \']", "")
C:\Users\ezspl\AppData\Local\Temp\ipykernel_35608\2587730355.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_data['summary'] = movies_data['summary'].str.replace('[^\w | \s]', "")

In [38]:
movies_data.head(5)

,movie_id,title,star,movie_rating,genre,director,actors,summary
0,10994,19번째 남자,7.70,청소년 관람불가,"['코미디', '드라마', '멜로/로맨스']",론 쉘톤,"['케빈 코스트너', '수잔 서랜든', '팀 로빈스']",마이너 리그팀 중의 하나로 캐롤라이나 리그에서 허덕이던 더럼 불즈팀이 오랫동안 기대...
1,10727,48시간 2,7.68,청소년 관람불가,"['범죄', '액션', '드라마', '코미디', '스릴러']",월터 힐,"['에디 머피', '닉 놀테']",형사 잭(Jack Cates: 닉 놀테 분)은 범죄단 두목 아이스맨을 추적하다 번번...
2,10630,7월 4일생,9.06,15세 관람가,"['전쟁', '드라마']",올리버 스톤,['톰 크루즈'],건실한 청년 론(Ron Kovic: 톰 크루즈 분)은 고교시절 레슬링 선수로 땀 흘...
3,10926,90 벌레먹은 장미,0.00,청소년 관람불가,['드라마'],노세한,"['남성훈', '김희아']",대학시절 남자에게 배신당한 정희는 30세가 되도록 남자들의 사랑을 불신하며 독신으로...
4,14478,9일간의 정사,7.00,NR,['이탈리아'],브루노 마테이,[],미국인 피아니스트 제시카는 콘테스트에 참가하기 위해 베니스에 온다. 그러나 도착해서...

#### 토큰화

In [13]:
import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ezspl\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
# summary tokenize
from konlpy.tag import Okt, Kkma
from collections import Counter
from nltk.corpus import stopwords

hangul_sw = ['{', '}', '[', ']', '\’', '?', '!', 'ㄴ', 'ㄹ','\"', ')', '(', '...', '\'','은', '는', '이', '가', ',', '.', '아', '휴', '아이구', '아이쿠', '아이고', '어', '나', '우리', '저희', '따라', '의해', '을', '를', '에', '의', '가', '으로', '로', '에게', '뿐이다', '의거하여', '근거하여', '입각하여', '기준으로', '예하면', '예를 들면', '예를 들자면', '저', '소인', '소생', '저희', '지말고', '하지마', '하지마라', '다른', '물론', '또한', '그리고', '비길수 없다', '해서는 안된다', '뿐만 아니라', '만이 아니다', '만은 아니다', '막론하고', '관계없이', '그치지 않다', '그러나', '그런데', '하지만', '든간에', '논하지 않다', '따지지 않다', '설사', '비록', '더라도', '아니면', '만 못하다', '하는 편이 낫다', '불문하고', '향하여', '향해서', '향하다', '쪽으로', '틈타', '이용하여', '타다', '오르다', '제외하고', '이 외에', '이 밖에', '하여야', '비로소', '한다면 몰라도', '외에도', '이곳', '여기', '부터', '기점으로', '따라서', '할 생각이다', '하려고하다', '이리하여', '그리하여', '그렇게 함으로써', '하지만', '일때', '할때', '앞에서', '중에서', '보는데서', '으로써', '로써', '까지', '해야한다', '일것이다', '반드시', '할줄알다', '할수있다', '할수있어', '임에 틀림없다', '한다면', '등', '등등', '제', '겨우', '단지', '다만', '할뿐', '딩동', '댕그', '대해서', '대하여', '대하면', '훨씬', '얼마나', '얼마만큼', '얼마큼', '남짓', '여', '얼마간', '약간', '다소', '좀', '조금', '다수', '몇', '얼마', '지만', '하물며', '또한', '그러나', '그렇지만', '하지만', '이외에도', '대해 말하자면', '뿐이다', '다음에', '반대로', '반대로 말하자면', '이와 반대로', '바꾸어서 말하면', '바꾸어서 한다면', '만약', '그렇지않으면', '까악', '툭', '딱', '삐걱거리다', '보드득', '비걱거리다', '꽈당', '응당', '해야한다', '에 가서', '각', '각각', '여러분', '각종', '각자', '제각기', '하도록하다', '와', '과', '그러므로', '그래서', '고로', '한 까닭에', '하기 때문에', '거니와', '이지만', '대하여', '관하여', '관한', '과연', '실로', '아니나다를가', '생각한대로', '진짜로', '한적이있다', '하곤하였다', '하', '하하', '허허', '아하', '거바', '와', '오', '왜', '어째서', '무엇때문에', '어찌', '하겠는가', '무슨', '어디', '어느곳', '더군다나', '하물며', '더욱이는', '어느때', '언제', '야', '이봐', '어이', '여보시오', '흐흐', '흥', '휴', '헉헉', '헐떡헐떡', '영차', '여차', '어기여차', '끙끙', '아야', '앗', '아야', '콸콸', '졸졸', '좍좍', '뚝뚝', '주룩주룩', '솨', '우르르', '그래도', '또', '그리고', '바꾸어말하면', '바꾸어말하자면', '혹은', '혹시', '답다', '및', '그에 따르는', '때가 되어', '즉', '지든지', '설령', '가령', '하더라도', '할지라도', '일지라도', '지든지', '몇', '거의', '하마터면', '인젠', '이젠', '된바에야', '된이상', '만큼\t어찌됏든', '그위에', '게다가', '점에서 보아', '비추어 보아', '고려하면', '하게될것이다', '일것이다', '비교적', '좀', '보다더', '비하면', '시키다', '하게하다', '할만하다', '의해서', '연이서', '이어서', '잇따라', '뒤따라', '뒤이어', '결국', '의지하여', '기대여', '통하여', '자마자', '더욱더', '불구하고', '얼마든지', '마음대로', '주저하지 않고', '곧', '즉시', '바로', '당장', '하자마자', '밖에 안된다', '하면된다', '그래', '그렇지', '요컨대', '다시 말하자면', '바꿔 말하면', '즉', '구체적으로', '말하자면', '시작하여', '시초에', '이상', '허', '헉', '허걱', '바와같이', '해도좋다', '해도된다', '게다가', '더구나', '하물며', '와르르', '팍', '퍽', '펄렁', '동안', '이래', '하고있었다', '이었다', '에서', '로부터', '까지', '예하면', '했어요', '해요', '함께', '같이', '더불어', '마저', '마저도', '양자', '모두', '습니다', '가까스로', '하려고하다', '즈음하여', '다른', '다른 방면으로', '해봐요', '습니까', '했어요', '말할것도 없고', '무릎쓰고', '개의치않고', '하는것만 못하다', '하는것이 낫다', '매', '매번', '들', '모', '어느것', '어느', '로써', '갖고말하자면', '어디', '어느쪽', '어느것', '어느해', '어느 년도', '라 해도', '언젠가', '어떤것', '어느것', '저기', '저쪽', '저것', '그때', '그럼', '그러면', '요만한걸', '그래', '그때', '저것만큼', '그저', '이르기까지', '할 줄 안다', '할 힘이 있다', '너', '너희', '당신', '어찌', '설마', '차라리', '할지언정', '할지라도', '할망정', '할지언정', '구토하다', '게우다', '토하다', '메쓰겁다', '옆사람', '퉤', '쳇', '의거하여', '근거하여', '의해', '따라', '힘입어', '그', '다음', '버금', '두번째로', '기타', '첫번째로', '나머지는', '그중에서', '견지에서', '형식으로 쓰여', '입장에서', '위해서', '단지', '의해되다', '하도록시키다', '뿐만아니라', '반대로', '전후', '전자', '앞의것', '잠시', '잠깐', '하면서', '그렇지만', '다음에', '그러한즉', '그런즉', '남들', '아무거나', '어찌하든지', '같다', '비슷하다', '예컨대', '이럴정도로', '어떻게', '만약', '만일', '위에서 서술한바와같이', '인 듯하다', '하지 않는다면', '만약에', '무엇', '무슨', '어느', '어떤', '아래윗', '조차', '한데', '그럼에도 불구하고', '여전히', '심지어', '까지도', '조차도', '하지 않도록', '않기 위하여', '때', '시각', '무렵', '시간', '동안', '어때', '어떠한', '하여금', '네', '예', '우선', '누구', '누가 알겠는가', '아무도', '줄은모른다', '줄은 몰랏다', '하는 김에', '겸사겸사', '하는바', '그런 까닭에', '한 이유는', '그러니', '그러니까', '때문에', '그', '너희', '그들', '너희들', '타인', '것', '것들', '너', '위하여', '공동으로', '동시에', '하기 위하여', '어찌하여', '무엇때문에', '붕붕', '윙윙', '나', '우리', '엉엉', '휘익', '윙윙', '오호', '아하', '어쨋든', '만 못하다\t하기보다는', '차라리', '하는 편이 낫다', '흐흐', '놀라다', '상대적으로 말하자면', '마치', '아니라면', '쉿', '그렇지 않으면', '그렇지 않다면', '안 그러면', '아니었다면', '하든지', '아니면', '이라면', '좋아', '알았어', '하는것도', '그만이다', '어쩔수 없다', '하나', '일', '일반적으로', '일단', '한켠으로는', '오자마자', '이렇게되면', '이와같다면', '전부', '한마디', '한항목', '근거로', '하기에', '아울러', '하지 않도록', '않기 위해서', '이르기까지', '이 되다', '로 인하여', '까닭으로', '이유만으로', '이로 인하여', '그래서', '이 때문에', '그러므로', '그런 까닭에', '알 수 있다', '결론을 낼 수 있다', '으로 인하여', '있다', '어떤것', '관계가 있다', '관련이 있다', '연관되다', '어떤것들', '에 대해', '이리하여', '그리하여', '여부', '하기보다는', '하느니', '하면 할수록', '운운', '이러이러하다', '하구나', '하도다', '다시말하면', '다음으로', '에 있다', '에 달려 있다', '우리', '우리들', '오히려', '하기는한데', '어떻게', '어떻해', '어찌됏어', '어때', '어째서', '본대로', '자', '이', '이쪽', '여기', '이것', '이번', '이렇게말하자면', '이런', '이러한', '이와 같은', '요만큼', '요만한 것', '얼마 안 되는 것', '이만큼', '이 정도의', '이렇게 많은 것', '이와 같다', '이때', '이렇구나', '것과 같이', '끼익', '삐걱', '따위', '와 같은 사람들', '부류의 사람들', '왜냐하면', '중의하나', '오직', '오로지', '에 한하다', '하기만 하면', '도착하다', '까지 미치다', '도달하다', '정도에 이르다', '할 지경이다', '결과에 이르다', '관해서는', '여러분', '하고 있다', '한 후', '혼자', '자기', '자기집', '자신', '우에 종합한것과같이', '총적으로 보면', '총적으로 말하면', '총적으로', '대로 하다', '으로서', '참', '그만이다', '할 따름이다', '쿵', '탕탕', '쾅쾅', '둥둥', '봐', '봐라', '아이야', '아니', '와아', '응', '아이', '참나', '년', '월', '일', '령', '영', '일', '이', '삼', '사', '오', '육', '륙', '칠', '팔', '구', '이천육', '이천칠', '이천팔', '이천구', '하나', '둘', '셋', '넷', '다섯', '여섯', '일곱', '여덟', '아홉', '령', '영', ' ㄴ다']
english_sw = stopwords.words('english')
sw = hangul_sw + english_sw

sentence = movies_data['summary']

for idx, text in enumerate(sentence):
    words = Kkma().nouns(text)
    nsw_words = []
    
    for x in words:
        if x not in sw:
            nsw_words.append(x.lower())
    
    movies_data['summary'][idx] = " ".join(nsw_words)

C:\Users\ezspl\AppData\Local\Temp\ipykernel_35608\4024347259.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data['summary'][idx] = " ".join(nsw_words)

#### 토큰 및 전처리된 데이터 csv파일 저장

In [ ]:
movies_data.to_csv("./movie_data_preprocessing.csv", header=False, index=False, encoding='utf-8')

In [39]:
movies_data

,movie_id,title,star,movie_rating,genre,director,actors,summary
0,10994,19번째 남자,7.70,청소년 관람불가,"['코미디', '드라마', '멜로/로맨스']",론 쉘톤,"['케빈 코스트너', '수잔 서랜든', '팀 로빈스']",마이너 리그팀 중의 하나로 캐롤라이나 리그에서 허덕이던 더럼 불즈팀이 오랫동안 기대...
1,10727,48시간 2,7.68,청소년 관람불가,"['범죄', '액션', '드라마', '코미디', '스릴러']",월터 힐,"['에디 머피', '닉 놀테']",형사 잭(Jack Cates: 닉 놀테 분)은 범죄단 두목 아이스맨을 추적하다 번번...
2,10630,7월 4일생,9.06,15세 관람가,"['전쟁', '드라마']",올리버 스톤,['톰 크루즈'],건실한 청년 론(Ron Kovic: 톰 크루즈 분)은 고교시절 레슬링 선수로 땀 흘...
3,10926,90 벌레먹은 장미,0.00,청소년 관람불가,['드라마'],노세한,"['남성훈', '김희아']",대학시절 남자에게 배신당한 정희는 30세가 되도록 남자들의 사랑을 불신하며 독신으로...
4,14478,9일간의 정사,7.00,NR,['이탈리아'],브루노 마테이,[],미국인 피아니스트 제시카는 콘테스트에 참가하기 위해 베니스에 온다. 그러나 도착해서...
...,...,...,...,...,...,...,...,...
18756,191699,친구아들과 목욕탕 불륜,4.00,청소년 관람불가,['에로'],스즈키 켄이치로,[],카호는 부부여행을 떠나는 친구 유코의 부탁으로 집을 봐주기로 한다. 남겨진 친구 아...
18757,195662,침묵의 이방인,2.00,청소년 관람불가,['스릴러'],블라디미르 알레니코브,"['콘스탄틴 라브로넨코', '마야 쇼파']",사진작가인 '안드레이'는 청각 장애인에 벙어리인 팬터마임 배우 '마리나'를 만나고그...
18758,182835,침입자,5.45,15세 관람가,"['미스터리', '스릴러']",손원평,"['송지효', '김무열']",얼마 전 사고로 아내를 잃고 실의에 빠져 있는 건축가 ‘서진’에게25년 전 실종된 ...
18759,154278,카메론 포스트의 잘못된 교육,8.43,15세 관람가,['드라마'],디자이리 아카반,"['클로이 모레츠', '제니퍼 엘', '사샤 레인', '퀸 쉐퍼드', '마린 아일랜...",지극히 평범한 일상을 보내는 소녀 ‘카메론’은자신의 연인 ‘콜리’와 아슬아슬한 관계...
18760,174261,카오산 탱고,6.92,12세 관람가,"['드라마', '멜로/로맨스']",김범삼,"['홍완표', '현리', '오창경']","과거를 여행하는 남자 지하(홍완표)와현재를 여행하는 여자 하영(현리),방콕이 제2의..."

# 실행은 여기서부터

In [40]:
import pandas as pd
import numpy as np

movies_data = pd.read_csv("./movie_data_preprocessing.csv")
movies_data.columns = ['movie_id', 'title', 'star', 'movie_rating', 'genre', 'director', 'actors', 'summary']
movies_data

,movie_id,title,star,movie_rating,genre,director,actors,summary
0,10727,48시간 2,7.68,청소년 관람불가,범죄 액션 드라마 코미디 스릴러,월터힐,에디머피 닉놀테,형사 잭 닉 테 분 범죄 범죄단 단 두목 아이스 아이스맨 맨 추적 허탕 인명 손실 ...
1,10630,7월 4일생,9.06,15세 관람가,전쟁 드라마,올리버스톤,톰크루즈,청년 론 톰 크루즈 분 고교 고교시절 시절 레슬링 선수 땀 고통 스파 스파르 르 식...
2,10926,90 벌레먹은 장미,0.00,청소년 관람불가,드라마,노세한,남성훈 김희아,대학 대학시절 시절 남자 배신 정 30 30세가 세가 사랑 불신 독신 그녀 이혼 지...
3,14478,9일간의 정사,7.00,,이탈리아,브루노마테이,NaN,미국인 피아니스트 제시 제시카 카 콘테스트 참가 베니스 도착 자격 실격 말 필사적 ...
4,14003,가보면 알 거야 - 영구와 땡분이,8.00,전체 관람가,한국,김주희,심형래,물 공기 복 복사골 사골 오마담 마담 용팔이 사기꾼 어두운 그림자 시작 권모 권모술...
...,...,...,...,...,...,...,...,...
11368,100987,고질라,6.68,12세 관람가,액션,가렛에드워즈,애런존슨 브라이언크랜스톤 엘리자베스올슨,포드 브로디 일본 내 원자력 발전소 방사능 피폭 피폭사고 사고 어머니 15 15년 ...
11369,125821,곤충왕국 3D,7.73,전체 관람가,다큐멘터리,김진만,김성주 김민국 김민율,지구 약 4 4억년 억 진화 곤충 전 세계 기록 80 만 만종 종 전체 동물 수의 ...
11370,119998,골든 크로스,8.23,15세 관람가,,홍석구,김강우 이시영 엄기준 한은정 정보석,음모 가족 남자 복수극 드라마
11371,126340,공각기동대 어라이즈 보더:3 고스트 티어즈,5.66,15세 관람가,애니메이션,키세카즈치카,사카모토마아야 쥬쿠잇큐 마츠다켄이치로,공안 9 9과 창설 후 나기 소령 애인 한 편 순도 100 100퍼센트 퍼센트 정밀...
11372,126364,공공의 적 - 살인마,4.75,청소년 관람불가,액션 스릴러,더글러스엘포드아젠트,마이클매드슨 제니퍼티스데일 레이첼헌터,은행 압류 방치 고층 건물 매입 부동산 업자 로렌 약혼자 타일러 리모델링 내부 아마...

In [41]:
movies_data['director'] = movies_data['director'].replace(np.nan, " ")
movies_data['actors'] = movies_data['actors'].replace(np.nan, " ")
movies_data['genre'] = movies_data['genre'].replace(np.nan, " ")
movies_data['movie_rating'] = movies_data['movie_rating'].replace(np.nan, " ")
movies_data['summary'] = movies_data['summary'].replace(np.nan, " ")

In [42]:
movies_data

,movie_id,title,star,movie_rating,genre,director,actors,summary
0,10727,48시간 2,7.68,청소년 관람불가,범죄 액션 드라마 코미디 스릴러,월터힐,에디머피 닉놀테,형사 잭 닉 테 분 범죄 범죄단 단 두목 아이스 아이스맨 맨 추적 허탕 인명 손실 ...
1,10630,7월 4일생,9.06,15세 관람가,전쟁 드라마,올리버스톤,톰크루즈,청년 론 톰 크루즈 분 고교 고교시절 시절 레슬링 선수 땀 고통 스파 스파르 르 식...
2,10926,90 벌레먹은 장미,0.00,청소년 관람불가,드라마,노세한,남성훈 김희아,대학 대학시절 시절 남자 배신 정 30 30세가 세가 사랑 불신 독신 그녀 이혼 지...
3,14478,9일간의 정사,7.00,,이탈리아,브루노마테이,,미국인 피아니스트 제시 제시카 카 콘테스트 참가 베니스 도착 자격 실격 말 필사적 ...
4,14003,가보면 알 거야 - 영구와 땡분이,8.00,전체 관람가,한국,김주희,심형래,물 공기 복 복사골 사골 오마담 마담 용팔이 사기꾼 어두운 그림자 시작 권모 권모술...
...,...,...,...,...,...,...,...,...
11368,100987,고질라,6.68,12세 관람가,액션,가렛에드워즈,애런존슨 브라이언크랜스톤 엘리자베스올슨,포드 브로디 일본 내 원자력 발전소 방사능 피폭 피폭사고 사고 어머니 15 15년 ...
11369,125821,곤충왕국 3D,7.73,전체 관람가,다큐멘터리,김진만,김성주 김민국 김민율,지구 약 4 4억년 억 진화 곤충 전 세계 기록 80 만 만종 종 전체 동물 수의 ...
11370,119998,골든 크로스,8.23,15세 관람가,,홍석구,김강우 이시영 엄기준 한은정 정보석,음모 가족 남자 복수극 드라마
11371,126340,공각기동대 어라이즈 보더:3 고스트 티어즈,5.66,15세 관람가,애니메이션,키세카즈치카,사카모토마아야 쥬쿠잇큐 마츠다켄이치로,공안 9 9과 창설 후 나기 소령 애인 한 편 순도 100 100퍼센트 퍼센트 정밀...
11372,126364,공공의 적 - 살인마,4.75,청소년 관람불가,액션 스릴러,더글러스엘포드아젠트,마이클매드슨 제니퍼티스데일 레이첼헌터,은행 압류 방치 고층 건물 매입 부동산 업자 로렌 약혼자 타일러 리모델링 내부 아마...

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity


def get_categories():
    categories_lst= ['title', 'genre', 'director', 'actors']

    categories = list(map(str, input("원하는 카테고리를 고르시오 (title, genre, director, actors)(복수선택시 띄어쓰기로 구분하여 입력) :").split()))
    for categorie in categories:
        if categorie not in categories_lst:
            print("잘못된 카테고리를 입력하였습니다.", end="")
            get_categories()
    else:
        return categories

    
def get_tfidf_matrix(dataset, categories):
    attribute = ['movie_rating', 'genre', 'director', 'actors']
    
    tfidf_vec = TfidfVectorizer(ngram_range=(1, 2))
    
    similar_index_dic = {categorie:None for categorie in categories}
    
    for categorie in categories:
        tfidf_matrix = tfidf_vec.fit_transform(dataset['summary'])
        genres_similarity = cosine_similarity(tfidf_matrix, tfidf_matrix)
        similar_index = np.argsort(-genres_similarity)
        similar_index_dic[categorie] = similar_index
    
    #print(genres_similarity)
    
    return similar_index_dic


def find_similar_moive(movies_data, new_user_input):
    movie_index_list = []
    
    for categorie, value in new_user_input.items():
        movie_index = movies_data[movies_data[str(categorie)]==value].index.values
        movie_index_list.append(movie_index)
    
    return movie_index


def find_info(movies_data, categorie, value):
    length = movies_data[categorie].shape[0]
    
    find_lst = []
    if categorie == 'title':
        return movies_data['title']==value
    else:
        for i in range(length):
            if value in movies_data[categorie][i].split():
                find_lst.append(True)
            else:
                find_lst.append(False)
        return find_lst


def get_movie_index_lst(movies_data, new_user_input):
    movie_index_lst = []

    for categorie, value in new_user_input.items():
        b = find_info(movies_data, categorie, value)
        movie_index = movies_data[b].index.values
        movie_index_lst.append(movie_index)
    return movie_index_lst


def match_idx(movie_index_lst):
    match_lst = []

    if len(movie_index_lst) == 1:
        return movie_index_lst[0]
    
    elif len(movie_index_lst) == 2:   
        for i in movie_index_lst[0]:
            for j in movie_index_lst[1]:
                if i == j :
                    match_lst.append(i)
                    break
        return match_lst
    
    elif len(movie_index_lst) == 3:
        for i in movie_index_lst[0]:
            for j in movie_index_lst[1]:
                for k in movie_index_lst[2]:
                    if i == j == k:
                        match_lst.append(i)
                        break
        return match_lst
    else:
        print("입력하신 정보에 의해 추천되는 영화가 없습니다.")
        
def seach_similar_movie(movies_data, similar_index_dic, match_lst, categories):
    if len(categories) == 1:
        similar_movies = similar_index_dic[categories[0]][match_lst, : 10]
        similar_movies_index = similar_movies.reshape(-1)
        return movies_data.iloc[similar_movies_index]
    else:
        similar_movies = similar_index_dic[categories[0]][match_lst, : 10].T
        similar_movies_index = similar_movies.reshape(-1)
        return movies_data.iloc[similar_movies_index]

#### main

In [65]:
categories = get_categories()

user_input = []

for categorie in categories: 
    user_input.append(input(f"{categorie} : "))    

new_user_input = {key:value for (key, value)in zip(categories, user_input) }

print("검색중.....")
similar_index_dic = get_tfidf_matrix(movies_data, categories)
movie_index_lst = get_movie_index_lst(movies_data, new_user_input)
match_lst = match_idx(movie_index_lst)
seach_similar_movie(movies_data, similar_index_dic, match_lst, categories)[:10]

검색중.....
[[1.         0.00387757 0.00581206 ... 0.         0.         0.00532104]
 [0.00387757 1.         0.00721078 ... 0.         0.00206264 0.00380854]
 [0.00581206 0.00721078 1.         ... 0.00452962 0.         0.        ]
 ...
 [0.         0.         0.00452962 ... 1.         0.01162466 0.        ]
 [0.         0.00206264 0.         ... 0.01162466 1.         0.00466014]
 [0.00532104 0.00380854 0.         ... 0.         0.00466014 1.        ]]

,movie_id,title,star,movie_rating,genre,director,actors,summary
8204,52515,인셉션,9.24,12세 관람가,액션 모험 SF 스릴러,크리스토퍼놀란,레오나르도디카프리오 와타나베켄 조셉고든레빗 마리옹꼬띠아르 엘리엇페이지 톰하디,꿈 생각을 특수 보안 보안요원 요원 코브그 이용 라이벌 기업 정보 사이토 코브 생각...
6770,69040,21,8.03,15세 관람가,범죄 드라마,로버트루케틱,짐스터게스 케이트보스워스 아론유 리자라피라 제이콥피츠 조시게드 샘골자리 로렌스피시번...,위너 치킨 디너 승자 닭고기 저녁 말 밤새 머리 속 베 베가스 가스 전통 왕년 카지...
7402,51860,더블 스파이,4.46,12세 관람가,범죄 스릴러 멜로/로맨스,토니길로이,클라이브오웬 줄리아로버츠 톰윌킨슨 폴지아마티,전 비밀리 연인 연인관계 관계 유지 유지해오 해오 전직 요원 클레어 클레어줄리 줄 ...
9641,84684,스트레인저 6,5.50,,,기타무라류헤이,오지호 김효진 카라사와토시아키 키카와다마사야 도송암 장펑펑 이소정 박정학 김시운,대규모 지진 구성 6 6명 명 특수 특수요원 요원 이야기
8527,80865,돌아오는 길,6.80,15세 관람가,드라마,스티브리,유선일 박그리나 천우성 김지수 맹하령 김건 정내원,우연 사고 친구 선일 충격 채 여행 1 1년 후 앞 모습 우정 예전 외 외줄타기 줄...
7494,65553,보이 걸 씽,8.34,15세 관람가,코미디 멜로/로맨스 판타지,닉허랜,사마이어암스트롱 케빈지거스,풋볼 풋볼선수 선수 킹 킹카 카 우 우디 디 셰익 셰익스피어 스피어 사랑 최강 범 ...
10520,91696,분노의 질주: 더 맥시멈,8.82,15세 관람가,액션 모험 범죄,저스틴린,빈디젤 드웨인존슨 폴워커 루크에반스 미셸로드리게즈 성강 갤가돗,불이 탕 성공 후 정부 추적 전세계 도미 도미닉 닉 디젤 브라 브라이언폴 이언 폴 ...
7913,75467,라스트 엑소시즘,7.18,15세 관람가,공포 스릴러,다니엘스탬,패트릭파비언 애슐리벨,3 3대 대 엑소 엑소시즘 시 즘 마 마커스 커스 목사 실체 다큐멘터리 촬영 촬영팀...
4496,37051,옥탑방 고양이,9.09,,,김사현,김래원 정다빈 최정윤 이현우,글 1 사랑 결혼 의미 신데렐라 행복 세상 가치 초월 완성 사람 생각 현실 로맨틱 ...
9463,75173,맨 인 블랙 3,8.19,12세 관람가,액션 코미디 SF,베리소넨필드,윌스미스 토미리존스 조슈브롤린,수 사건 현실 외계인 공격 위험 지구 게다 소속 베테랑 요원 케이 케이토미 토 미 ...

In [62]:
similar_index_dic

{'genre': array([[    0,    30,  2231, ...,  1865,  1855,  8632],
        [   31,     1, 10032, ...,  3169,  1240,  5184],
        [    2,    32,   149, ...,  5343,  5379, 11372],
        ...,
        [11370, 10065,  8337, ...,  4551,  4538, 11372],
        [11371, 10094,  7517, ...,  4534,  4537,  5686],
        [11372, 11175,  3500, ...,   672,   679,  5686]], dtype=int64),
 'actors': array([[    0,    30,  2231, ...,  1865,  1855,  8632],
        [   31,     1, 10032, ...,  3169,  1240,  5184],
        [    2,    32,   149, ...,  5343,  5379, 11372],
        ...,
        [11370, 10065,  8337, ...,  4551,  4538, 11372],
        [11371, 10094,  7517, ...,  4534,  4537,  5686],
        [11372, 11175,  3500, ...,   672,   679,  5686]], dtype=int64)}